[Unit]
Description=PPP Auto Connection
After=network.target

[Service]
ExecStart=/bin/bash /usr/src/reconnect.sh
WorkingDirectory=/usr/src/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
